<div id="app-container">
<section id="appBody" data-region="body" class="row"> </section>
</div>


<script type="text/javascript">
  $(function () {

    MIDI.loadPlugin({
      onsuccess: function(){
         Kodaly.start();
      },
    });

  });
</script>

