<div id="app-container">
<section id="appHeader" data-region="header"> </section>
<section id="appBody" data-region="body" class="container"> </section>
</div>

<script type="text/javascript">
  $(function () {
    if (window.location.hash && window.location.hash == '#_=_') {
        window.location.hash = '';
    }

    Kodaly.execute("initialize:user:entities",<%= @user.to_json.html_safe %> );
    MIDI.loadPlugin({
      onsuccess: function(){
         Kodaly.start();
      },
    });

  });
</script>
