<section id="appBody" data-region="body" class="row">
<div id="question">
    
</div>
</section>


  <script type="text/javascript">
    $(function () {

            MIDI.loadPlugin({
                onsuccess: function(){
                    Kodaly.start();
               },
                       
               

           });
        
    });
  </script>

