  <div class="container">
    <a class="navbar-brand" href="#lessons">Kodaly App</a>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav links"></ul> 
      <ul class="nav navbar-nav navbar-right">
      <li ><a class="logout"href="#logout">Sign Out</a></li>
      </ul>
    </div>
  
  </div>
